* {
    box-sizing: border-box;
}
html, body {
    overflow: hidden;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: #000;
}

.app-wrapper {
    position: relative;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #666;
}

#screen {
    display: table;
    height: 90px;
    width: 100%;
    background-color: #0d0b0b;
    border: 0;
    border-spacing: 0;
}

#overflow {
    position: absolute;
    background: -webkit-linear-gradient(left, #000, #000 35%, rgba(0, 0, 0, 0));
    width: 40%;
    height: 90px;
    left: 0;
    top: 0;
    z-index: 2;
}

#display {
    vertical-align: middle;
    text-align: right;
    overflow: hidden;
    right: 100px;
    position: relative;
    width: 360px;
    top: 15px;
}

#equation {
    color: white;
    overflow: hidden;
    height: 90px;
    line-height: 90px;
    float: right;
}

#equation.top {
    height: 40px;
    line-height: 40px;
}

#result {
    position: relative;
    color: #43bb2e;
    overflow: hidden;
    z-index: 1;
    display: none;
    float: right;
    width: 100%;
}

#equation, #result {
    white-space: nowrap;
    font-size: 28px;
}

#equation .operator, #equation .function {
    color: #5c90ba;
}

#display:not(.empty-result) > #result {
    display: block;
}

#display.empty-result > #equation {
    font-size: 33px;
}

#equation.medium {
    font-size: 28px !important;
}

#result.error {
    color: red;
    font-size: 24px;
}

#result.small {
    font-size: 13px;
}

#numpad, #advanced_numpad{
    position: absolute;
    top: 90px;
    width: 100%;
    height: 67%;
}

.hidden{
	visibility: hidden;
}

.key.col-4 {
    width: 25%;
}

.key.col-3 {
    width: 38%;
}

.key.col-3.center {
    width: 24%;
}

.key.col-3.left {
	padding-left: 10%;
}

.key.col-3.right {
	padding-right: 10%;
}

.key.col-1 {
    width: 100%;
}

.key, .longkey {
    display: block;
    height: 45px;
    float: left;
    padding: 0;
}

.key {
    background: #505050;
    border: 1px solid #000;
    border-width: 1px 0 0 1px;
    text-align: center;
    line-height: 44px;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
}

.key.disabled {
	background-color: #000000;
    color: #404040;
	text-decoration: line-through;
}

.key.super {
	line-height: normal; 
}

.key.press {
    background-color: #262626;
}

.darkblue {
    background-color: #2c4458;
}

.darkblue.press {
    background-color: #152029;
}

.equal {
    background-color: #359f5b;
}

.equal.press {
    background-color: #256f4b;
}

/*  Regular numpad */
#key_0 { background-image: url('../images/key_0.png'); }
#key_1 { background-image: url('../images/key_1.png'); }
#key_2 { background-image: url('../images/key_2.png'); }
#key_3 { background-image: url('../images/key_3.png'); }
#key_4 { background-image: url('../images/key_4.png'); }
#key_5 { background-image: url('../images/key_5.png'); }
#key_6 { background-image: url('../images/key_6.png'); }
#key_7 { background-image: url('../images/key_7.png'); }
#key_8 { background-image: url('../images/key_8.png'); }
#key_9 { background-image: url('../images/key_9.png'); }
#key_c { background-image: url('../images/key_c.png'); }
#key_del { background-image: url('../images/key_del.png'); }
#key_sign { background-image: url('../images/key_sign.png'); }
#key_div { background-image: url('../images/key_div.png'); }
#key_mul { background-image: url('../images/key_mul.png'); }
#key_sub { background-image: url('../images/key_sub.png'); }
#key_add { background-image: url('../images/key_add.png'); }
#key_dec { background-image: url('../images/key_dec.png'); }
#key_eql { background-image: url('../images/key_equal.png'); }
#key_bracket { background-image: url('../images/key_bracket.png'); }

/*  Advanced numpad */
/*#key_sin { background-image: url('../images/key_0.png'); }
#key_cos { background-image: url('../images/key_1.png'); }
#key_tan { background-image: url('../images/key_2.png'); }
#key_arcsin { background-image: url('../images/key_3.png'); }
#key_arccos { background-image: url('../images/key_4.png'); }
#key_arctan { background-image: url('../images/key_5.png'); }
#key_rad_deg { background-image: url('../images/key_6.png'); }
#key_ln { background-image: url('../images/key_7.png'); }
#key_log { background-image: url('../images/key_8.png'); }
#key_inverse { background-image: url('../images/key_9.png'); }
#key_sqrt { background-image: url('../images/key_c.png'); }
#key_e_x { background-image: url('../images/key_del.png'); }
#key_x_2 { background-image: url('../images/key_sign.png'); }
#key_x_y { background-image: url('../images/key_div.png'); }
#key_rnd { background-image: url('../images/key_mul.png'); }
#key_2_x { background-image: url('../images/key_sub.png'); }
#key_x_3 { background-image: url('../images/key_add.png'); }
#key_x_factorial { background-image: url('../images/key_dec.png'); }*/
